<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anatomy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Anatomy</h1>
<h2>Choose a Topic</h2>
<ul>
    <li><a href="/topic/anatomy-introduction">Anatomy Introduction</a></li>
    <li><a href="/topic/head">Head</a></li>
    <li><a href="/topic/hands">Hands</a></li>
    <li><a href="/topic/torso">Torso</a></li>
    <li><a href="/topic/arms">Arms</a></li>
    <li><a href="/topic/legs">Legs</a></li>
    <li><a href="/topic/feet">Feet</a></li>
</ul>
</body>
</html>
