<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Timed Gesture Training</title>
    <link rel="stylesheet" th:href="@{/css/css/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Timed Gesture Training</h1>
    <h2>Choose a Duration</h2>
    <a href="/course/gesture" class="back-button">Go Back</a>
    <div class="course-wrapper">
        <a href="/loading" class="course-card">
            <div class="course-info">
                <h3>7 Minutes</h3>
                <p>A longer session for beginners</p>
            </div>
        </a>
        <a href="/loading" class="course-card">
            <div class="course-info">
                <h3>5 Minutes</h3>
                <p>A balanced session for an intermediate practice.</p>
            </div>
        </a>
        <a href="/loading" class="course-card">
            <div class="course-info">
                <h3>3 Minutes</h3>
                <p>Quick practice for capturing the essence of gestures.</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>

