<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drawing App</title>
</head>
<body>
<h1>Select a Course</h1>
<form action="/track" method="post">
    <label for="module">Course:</label>
    <select name="module" id="module">
        <option th:each="course : ${courses}" th:text="${course}" th:value="${course}"></option>
    </select>
    <br><br>
    <button name="action" value="next_step">Next Step</button>
    <button name="action" value="redo_step">Redo Step</button>
    <button name="action" value="redo_all">Redo All</button>
    <button name="action" value="quit">Quit</button>
</form>
</body>
</html>
