<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Perspective</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Perspective</h1>
<h2>Choose a Topic</h2>
<ul>
  <li><a href="/topic/perspective-introduction">Perspective Introduction</a></li>
  <li><a href="/topic/foreshortening-basics">Foreshortening Basics</a></li>
  <li><a href="/topic/low-angle">Low Angle</a></li>
  <li><a href="/topic/high-angle">High Angle</a></li>
  <li><a href="/topic/fisheye">Fisheye</a></li>
</ul>
</body>
</html>
