<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reference Input</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<h1>Input References</h1>
<a href="/main" class="back-button">Go Back</a>
<form action="/save-reference" method="post">
    <label for="reference">Enter references:</label><br>
    <textarea id="reference" name="reference" rows="4" cols="50"></textarea><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
